/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/
body{
    background-image: url("../images/封面1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Arial', sans-serif;
}

h1{
  color: black; 
font-size: 80px; 
font-weight: bold; 
text-align: center; 
text-shadow:
  -1px -1px 0 yellow,  
   1px -1px 0  yellow,
  -1px 1px 0 black,
   1px 1px 0 #000; 
   position: relative;
}
#welcomeMessage {
width: 100%; 
overflow: hidden; 
display: flex;
flex-direction: column; 
justify-content: center; 
align-items: center; 
height: 200px; 
color: #000; 
}

.typing-effect {
white-space: nowrap; 
overflow: hidden; 
width: 0; 
animation: typing 6s steps(60, end) forwards; 
margin: 10px 0; 
text-align: center; 
box-sizing: border-box; 
padding: 0 20px; 
text-shadow:
     1px 1px 0 black; 
     
}


@keyframes typing {
from { width: 0 }
to { width: 100% } 
}




@media screen and (max-width: 767px) {
 
h1{
font-size: 73px; 
}
nav {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding: 20px 0; 
}

nav a {
  color: black; 
  font-weight: bold; 
  display: block; 
  width: 150px; 
  height: 50px; 
  line-height: 50px; 
  margin: 10px 0; 
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5); 
  text-align: center; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  text-shadow: 1px 1px yellow;
  transition: background-color 0.3s;
  font-size: 30px;
}
#welcomeMessage {
  font-size: 22px;
}

}@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* CSS rules here will apply to screens between 768px and 1023px wide */
h1{
  font-size: 83px;
}
nav {
  text-align: center;
  font-size: 25px;
}


nav a {
  font-weight: bold; 
  color: black; 
  text-shadow: 1px 1px yellow; 
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 10px 30px; 
  margin: 0 10px; 
  text-decoration: none; 
  border: 2px solid transparent; 
  transition: background-color 0.3s, color 0.3s; 
}

#welcomeMessage {
font-size: 22px;
margin-top: 70px; 
}
}
@media screen and (min-width: 1024px) {

  h1{
      font-size: 125px;
  }
  nav {
      background: transparent;
      text-align: center;
      font-size: 25px;
    }
    
 
    nav a {
      font-weight: bold; 
      color: black; 
      text-shadow: 1px 1px yellow; 
      background-color: rgba(255, 255, 255, 0.5); 
      padding: 10px 30px; 
      margin: 0 10px; 
      text-decoration: none; 
      border: 2px solid transparent; 
      transition: background-color 0.3s, color 0.3s; 
      font-size: 31px;
    }
   
    #welcomeMessage {
      font-size: 26px;
      margin-top: 70px; 
    }
}